/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400;1,600&family=Nunito:wght@400;700&family=Playfair+Display&family=Poppins:wght@200;300;400;500;700;800;900&family=Raleway:ital,wght@0,300;1,400;1,500;1,700&family=Ubuntu:wght@300;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400;1,600&family=Nunito:wght@400;700&family=Oswald:wght@300;400;700&family=Playfair+Display&family=Poppins:wght@200;300;400;500;700;800;900&family=Raleway:ital,wght@0,300;1,400;1,500;1,700&family=Ubuntu:wght@300;700&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: unset;
}

.category {
  margin: 35px 0;
}

/* h3, h2 {
  color: red;
  text-align: center;
  margin: 40px;
} */

.firstline {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logotip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin: 150px 150px 0 300px; */
}

.logotip img {
  width: 280px;
  margin: 100px 0;

}

.image {
  margin-top: 15px;
}

.image:hover {
  transform: scale(1.1);
  transition: .3s;
}




.navbar_img img {
  margin-top: 100px;
  /* padding-bottom: 200px; */
  width: 450px;
}

ul {
  display: flex;
  justify-content: space-around;
}

.category li {
  background-color: rgb(241, 234, 234);
  padding: 13px 30px;
  border-radius: 10px;
  /* margin-right: 10px; */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  list-style-type: none;
}

.category .li {
  background-color: rgb(201, 87, 87);
}

li:hover {
  background-color: darken(#f9f9f9, 2%);
}

/* add edit page */

.add-edit-page form {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  justify-content: space-between;
}

.add-edit-page form textarea {
  margin-top: 8px;
  outline: none;
}

.add-edit-page form textarea::placeholder {
  font-size: 16px;
}

.filters-block {
  display: flex;
  flex-wrap: wrap;
  margin: 35px;
  justify-content: center;

}

.filters-block div {
  margin-right: 10px;

}


.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* cart-page */

.cart {
  margin: 100px 0 20px 0;
  width: 350px;

}


.order-button {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.detail-page {
  display: flex;
  flex-wrap: wrap;
}

.detail-left-img {
  width: 50%;
}

.detail-left-img img {
  width: 100%;
}

.detail-right {
  width: 50%;
}

.detail-page h3 {
  font-size: 27px;
}

.detail-page li {
  list-style-type: none;
  font-size: 20px;
  margin: 8px 0;
}

/* !404page */

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

@media all and (max-width: 767px) {
  .detail-left-img {
    width: 100%;
  }

  .detail-right {
    width: 100%;
  }
}

@media all and (min-width: 520px) {
  .firstline {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media all and (max-width:520px) {
  .category {
    display: none;
  }
}

@media all and (max-width: 520px) {
  .navbar_img {
    width: 350px;

  }

  .logotip {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}